.editor-layout-container {
  width: 100%;
  position: relative;
}

.editor-main-container {
  position: relative;
  height: 100%;
  transition: all 0.3s ease 0s;
  transform-origin: 0px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.editor-main-wrapper {
  overflow: visible;
  height: auto;
  position: relative;
  top: 0;
  margin: 0 auto;
}

.editor-surface-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.editor-surface {
  position: relative;
  overflow: visible;
  display: inline-block;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  font-family: '';
}

.editor-content-view {
  user-select: none;
  margin: 0 auto;
  margin-bottom: 0px;
  position: relative;
  z-index: 0;
  transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.35, 1);
}

.editor-content-wrap {
  cursor: text;
  overflow: hidden;
}

.editor-input-wrap {
  position: absolute;
  width: 5px;
  height: 5px;
  font-size: 1px;
  z-index: -2;
  overflow: hidden;
  opacity: 0;
  background: transparent;
  color: transparent;
  outline: none;
  caret-color: transparent;
  transform: scale(0.1, 0.1);
  white-space: pre-wrap;
}

.eeditor-caret-wrap {
  will-change: opacity;
  z-index: 20;
  pointer-events: none;
  cursor: text;
  border-left: 1px solid;
}
